<%- include("./nav.ejs") -%>

<style>
  /* Estilos generales para la vista de lista */
  .list-view {
    display: flex;
    flex-direction: column;
  }

  /* Estilos específicos para cada elemento de producto en la vista de lista */
  .list-view .card {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    flex-direction: row;
  }

  .list-view .card:hover {
    transform: scale(1.05);
  }

  .list-view .card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .list-view .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .list-view .card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .list-view .card-text {
    font-size: 1em;
    margin-bottom: 10px;
  }

  .list-view .btn-primary {
    margin-top: auto;
  }

  .list-view {
    .col-lg-4.col-md-6.mb-4 {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  input[type="text"] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    transition: 0.3s;
  }

  input[type="text"]:focus {
    border-color: #4caf50;
    background-color: #e9f6e9;
  }

  @media screen and (max-width: 600px) {
    input[type="text"] {
      width: 100%;
    }
  }

  .card {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.2) !important;
  }

  body {
    background-image: url(/img/background.webp);
  }
</style>

<!-- Contenido de la Página -->
<div class="container mt-5">
  <!-- Campo de entrada para la búsqueda -->

  <!-- Contenido Dinámico -->
  <div id="productosContainer" class="row">
    <% data.forEach(function(producto) { %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <!-- Mostrar solo la primera imagen del producto -->
        <img
          src="<%= producto.imagenes[0] %>"
          class="card-img-top"
          alt="Imagen del Producto"
        />

        <!-- Información del Producto -->
        <div class="card-body">
          <h5 class="card-title"><%= producto.nombre %></h5>
          <p class="card-text card-descripcion"><%= producto.descripcion %></p>
          <p class="card-text card-stock">Stock: <%= producto.stock %></p>
          <p class="card-text card-precio">Precio: $<%= producto.precio %></p>
          <p class="card-text card-categoria">
            Categoría: <%= producto.categoria %>
          </p>
        </div>
        <div class="comprar">
          <a href="/productos/<%= producto.id %>">
            <button class="btn btn-success btn-lg btn-block">comprar</button>
          </a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<%- include("../elementosGlobales/footer.ejs") -%>
